 * {
     padding: 0;
     margin: 0;
 }

 body{
     overflow-x: hidden;
 }

 .hero {
     width: 100%;
     height: 100vh;
     background-image: url(/Personal/miniproject/images-mini/robot.jpg);
     background-size:cover;
     background-repeat:repeat;
     }
/*voice assistant*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.voice {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:right;
    margin: 60px 120px ;
}

.voice .image-container {
    padding: 10px;
}

.voice .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.voice .image-container .image img {
    width: 170px;
    align-items: center;
    border-radius: 50%;
}

.voice .image-container h1 {
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.voice .image-container p {
    color: #324042;
    text-align: center;
    margin-bottom: 40px;
}

.voice .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgb(202 253 255 / 50%);
}

.voice .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.voice .input .talk i {
    font-size: 20px;
    color: #aed0d0;
}

.voice .input .mic {
    color: #aed0d0;
    font-size: 15px;
    margin-right: 20px;
}
 


 .navbar {
     width: 88%;
     margin: auto;
     padding: 15px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .logo {
     width: 200px;
     height: 100px;
     cursor: pointer;
     border-radius:50px 15px 50px 15px;
     position: relative;
     right: 60px;
 }

 .navbar ul li {
     list-style: none;
     display: inline-block;
     margin: 0 15px;
 }

 .navbar ul li a {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     font-family: sans-serif;
     position: relative;
     left: 20px;
 }

 .content {
     width: 100%;
     position: absolute;
     top: 30%;
 }

 .left {
     margin-left: 6%;
 }

 .left h1 {
     font-size: 90px;
     color: #fff;
     line-height: 110px;
     float: left;
 }

 .right {
     float: right;
     margin-right: 6%;
     margin-top: 120px;
     display: flex;
     align-items: center;
 }

 .right p {
     font-size: 18px;
     color: #5f5f5f;
     font-weight: 500;
     font-family: sans-serif;
     margin-right: 15px;
 }

 .icon {
     cursor: pointer;
    overflow: hidden;
    object-fit: fill;
 }




 @media only screen and (max-width:767px) {
     .main {
         height: 400px;
         width: 425px;
         margin: 0 auto;
         display: block;
     }

 }



 



/*movies*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
.emotion-title{
    background-color: #00bcd4;
    text-align: center;

}
body {
    margin: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/*footer*/
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    background-color: #06283D;
    height: 200px;
    margin-top: 0;
}

.media a img{
   padding: 10px;
}



.media a img:hover{
    transform: skewX(20deg);
}